.box {
    padding: 10px 0;
    width: 400px;
    text-align: center;
    background: #ddd;
    margin: 20px;
    display: inline-block;
}

li {
    list-style-type: none;
    background-color: rgb(207, 207, 207);
    margin: 20px auto;
    padding: 10px 20px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}